* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

form label .form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.enviar {
    text-decoration: none;
    width: 40%;
    padding: 15px 0;
    margin: 0 130px;
    background: #7F0B0D;
    color: white;
    font-weight: bold;
    font-size: 28px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    border-radius: 22px
}

.enviar:hover {
    background: #490F0D;
    transform: scale(1.2);
}