* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/**** NAVBAR***/

.logo {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: right;
}

a {
    color: #FCFCFE;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, apple-system, Helvetica, Arial, sans-serif;
    background: #4E0000;
    height: 8vh;
    position: fixed;
    width: 100%;
    padding: 5px;
}

.nav-list {
    display: inline;
    display: flex;
    list-style: none;
    height: 25px;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 20px;
}


/**** SECTION IMAGES****/
.body {
    background-image: url("/assets/images/fundo-star.jpg");
}

.main {
    
    margin-bottom: auto;
    display: flex;
    transition: 'background-color' 300ms;
}

.leftside {
    flex: 1;
}

.leftside .images {
    flex-direction: column;
    display: flex;
    width: 300px;
}

.images {
    margin-left: 80px;
    width: 10px;
    padding: 10px;
}

.images img {
    padding: 23px;
}

.images:first-child {
    padding-top: 50px;
}


/**** SECTION TEXT****/

.text-rigthside {
    flex-direction: column;
    display: flex;
    flex: 2;
}

.inst-text:first-child {
    padding: 60px;
}

.inst-text h1 {
    padding: 20px;
    font-family: Andale Mono, monospace;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    height: auto;
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    position: relative;
    overflow: initial;
    /*voltar aqui*/
}

.inst-text h2 {
    font-family: Andale Mono, monospace;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    height: auto;
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
}

.inst-text p {
    color: #FCFCFE !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
}

strong {
    color: #F5D41B
}

footer {
    text-align: center;
    
}

.copyright {
    color: #F5D41B !important;
}