* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #232425;
    margin-bottom: auto;
    transition: 'background-color' 300ms;
}

h1 {
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    padding: 50px;
    font-size: 38px;
    text-align: center;
    letter-spacing: 2px;
}

P {
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

.volta {
    text-decoration: none;
    transition: 0.3s;
    color: #F5D41B;
    text-align: center;
    font-size: 30px;
    padding: 0 20px;
}

.volta:hover {
    opacity: 0.5;
}

footer {
    text-align: center;
    background-color: #232425;
    margin-bottom: auto;
    transition: 'background-color' 300ms;
}

.copyright {
    color: #F5D41B;
    text-align: center;
    height: 50px;
}