* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/**** NAVBAR***/

.logo {
    width: 35px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: right;
}

a {
    color: rgb(213, 228, 133);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

nav {
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-family: system-ui, apple-system, Helvetica, Arial, sans-serif;
    background: #111811;
    height: 8vh;
    position: fixed;
    width: 100%;
    padding: 5px;
}

.nav-list {
    display: inline;
    display: flex;
    list-style: none;
    height: 25px;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 20px;
}


/**** SECTION IMAGES****/

.main {
    background-color: #232425;
    margin-bottom: auto;
    display: flex;
    transition: 'background-color' 300ms;
    box-shadow: #111811 10px 10px 20px 20px;
}

.leftside {
    flex: 1;
}

.leftside .images {
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 80px;
}

.images {
    margin-left: 80px;
    padding: 10px;
    height: 200px;
}

.images img {
    padding: 23px;
}

.images:first-child {
    padding-top: 50px;
}

.images:last-child {
    width: 80%;
}


/**** SECTION TEXT****/

.text-rigthside {
    COLOR: #2C2E1C;
    flex-direction: column;
    display: flex;
    flex: 2;
}

.inst-text:first-child {
    padding: 60px;
}

.inst-text h1 {
    color: #F5D41B !important;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text h2 {
    color: #F5D41B !important;
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text p {
    color: #F5D41B !important;
    text-align: justify;
}

footer {
    text-align: center;
    background-color: #232425;
    margin-bottom: auto;
    transition: 'background-color' 300ms;
}

.copyright {
    color: #F5D41B !important;
}